.body {
  margin: 0;
}

.wrapper {
  width: 100%;
}

.header {
  background-color: #3030C1;
  padding: 0 9%;
  margin-bottom: -1px;
}

.header__image-Logo {
  width: 15%;
  padding: 5% 0;
}

.main-one {
  background-color: #3030C1;
  padding: 33px 0px 18% 9%;
  position: relative;
}

.main-one__title {
  font: 800 45px/55px gilroyextrabold, arial, helvetica, sans-serif;
  color: #FFF;
  width: 48%;
  margin-bottom: 32px;
}

.main-one__subtitle {
  font: 800 29px/36px gilroyextrabold, arial, helvetica, sans-serif;
  color: #FFCC33;
  width: 27%;
  margin: 0;
  margin-bottom: 13px;
  letter-spacing: 0.5px;
}

.main-one__description {
  font: 300 20px/23px gilroylight, arial, helvetica, sans-serif;
  color: #FFF;
  width: 36%;
  margin: 0
  margin-bottom: 47px;
}

.main-one__button-more {
  font: 900 20px/24px montserratblack, arial, helvetica, sans-serif;
  color: #3030C1;
  padding: 16px 23px;
  background: #FFCC33;
  text-decoration: none;
}

.main-one__button-more:hover {
  cursor: pointer;
}

.main-one__image-main {
  width: 39%;
  position: absolute;
  left: 52%;
  top: 3%;
}


@media(max-width: 1000px) {

  .header {
    padding: 0;
    height: 68px;
  }

  .header__image-Logo {
    width: 93px;
    height: 24px;
    margin-top: 0px;
    margin-left: 30px;
  }

  .main-one {
    padding: 50px 0px 157px 32px;
  }

  .main-one__title {
    font: 800 45px/55px gilroyextrabold, arial, helvetica, sans-serif;
    width: 60%;
    margin-bottom: 26px;
  }

  .main-one__subtitle{
    font: 800 29px/36px gilroyextrabold, arial, helvetica, sans-serif;
    width: 49vw;
  }

  .main-one__description{
    font: 300 20px/23px gilroylight, arial, helvetica, sans-serif;
    width: 47vw;
    margin-bottom: 19px;
    margin-top: 0;
  }

  .main-one__button-more{

  }

  .main-one__image-main{
    width: 36%;
    top: 15%;
  }
}

@media(max-width: 500px) {
  .header {
    height: 75px;
  }

  .header__image-Logo {
    margin-top: 23px;
  }

  .main-one {
    padding: 1px 0px 288px 50px;
  }

  .main-one__title {
    font: 800 25px/31px gilroyextrabold, arial, helvetica, sans-serif;
    width: 79%;
  }

  .main-one__subtitle{
    font: 800 20px/25px gilroyextrabold, arial, helvetica, sans-serif;
    width: 75vw;
  }

  .main-one__description{
    font: 300 15px/17px gilroylight, arial, helvetica, sans-serif;
    width: 76vw;
    margin-bottom: 0;
  }

  .main-one__button-more{
    display:none;
  }

  .main-one__image-main{
    width: 56%;
    top: 50%;
    left: 18%;
  }
}

@media(max-width:320px) {

  .header {
    height: 68px;
  }

  .header__image-Logo {

  }

  .main-one {
    padding: 1px 0px 290px 29px;
  }

  .main-one__title {

  }

  .main-one__subtitle{

  }

  .main-one__description{

  }

  .main-one__button-more{

  }

  .main-one__image-main{
    width: 81vw;
    height: 67vw;
    left: 9%;
  }
  .defis {
     white-space: pre;
  }
}
