.body {
  margin: 0;
}

.wrapper {
  width: 100%;
}

.header {
  background-color: #3030C1;
  margin-bottom: -1px;
  background-image: url('img/Logo.png');
  background-repeat: no-repeat;
  background-position: 10% 88%;
  padding-bottom: 8%;
  background-size: 13%;
}


.main-one {
  background-color: #3030C1;
  padding: 90px 0px 18% 9%;
  background-image: url('img/JPG1.svg');
  background-repeat: no-repeat;
  background-position: 85% 27%;
}

.main-one__title {
  font: 800 45px/55px gilroyextrabold, arial, helvetica, sans-serif;
  color: #FFF;
  width: 48%;
  margin-bottom: 34px;
}

.main-one__subtitle {
  font: 800 29px/36px gilroyextrabold, arial, helvetica, sans-serif;
  color: #FFCC33;
  width: 27%;
  margin: 0;
  margin-bottom: 13px;
  letter-spacing: 0.5px;
}

.main-one__description {
  font: 300 20px/23px gilroylight, arial, helvetica, sans-serif;
  color: #FFF;
  width: 36%;
  margin: 0;
  margin-bottom: 47px;
}

.main-one__button-more {
  font: 900 20px/24px montserratblack, arial, helvetica, sans-serif;
  color: #3030C1;
  padding: 16px 23px;
  background: #FFCC33;
  text-decoration: none;
}

.main-one__button-more:hover {
  cursor: pointer;
}

.defis {
   white-space: pre;
}

@media(max-width: 1200px) {

  .header {

  }

  .main-one {
    padding: 2% 0px 21% 4%;
    background-position: 99% 34%;
    background-size: 38%;
  }

  .main-one__title {
    font: 800 42px/55px gilroyextrabold, arial, helvetica, sans-serif;
    width: 60%;
    margin-bottom: 26px;
  }

  .main-one__subtitle{
    font: 800 27px/34px gilroyextrabold, arial, helvetica, sans-serif;
    width: 49vw;
  }

  .main-one__description{
    font: 300 18px/21px gilroylight, arial, helvetica, sans-serif;
    width: 47vw;
    margin-bottom: 19px;
    margin-top: 0;
  }

  .main-one__button-more{

  }
}

@media(max-width: 1000px) {

  .header {

  }

  .main-one {
    background-size: 40%;
  }

  .main-one__title {
    font: 800 37px/47px gilroyextrabold, arial, helvetica, sans-serif;
    width: 53%;
  }

  .main-one__subtitle{
    font: 800 26px/30px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main-one__description{
    font: 300 17px/23px gilroylight, arial, helvetica, sans-serif;
    width: 42vw;
  }

  .main-one__button-more{

  }
}

@media(max-width: 768px) {
.header {

}

  .main-one {
    padding: 1px 0px 42% 21%;
    background-position: 43% 87%;
    background-size: 40%;
  }

  .main-one__title {
    font: 800 30px/31px gilroyextrabold, arial, helvetica, sans-serif;
    width: 68%;
  }

  .main-one__subtitle{
    font: 800 25px/23px gilroyextrabold, arial, helvetica, sans-serif;
    width: 51vw;
  }

  .main-one__description{
    font: 300 16px/17px gilroylight, arial, helvetica, sans-serif;
    width: 58vw;
    margin-bottom: 0;
  }

  .main-one__button-more{
    display:none;
  }

  .main-one__image-main{
    width: 56%;
    top: 50%;
    left: 18%;
  }
}

@media(max-width: 520px) {
  .header {
    background-size: 20%;
    padding-bottom: 13%;
  }

    .main-one {
      padding: 1px 0px 55% 10%;
      background-position: 43% 96%;
      background-size: 58%;
    }

    .main-one__title {
      font: 800 25px/31px gilroyextrabold, arial, helvetica, sans-serif;
      width: 69%;
    }

    .main-one__subtitle{
      font: 800 20px/25px gilroyextrabold, arial, helvetica, sans-serif;
      width: 77vw;
    }

    .main-one__description{
      font: 300 15px/17px gilroylight, arial, helvetica, sans-serif;
      width: 74vw;
    }

    .main-one__button-more{
      display:none;
    }
}

@media(max-width:320px) {

  .header {
  padding-bottom: 21%;
  background-size: 29%;
  background-position: 13% 89%;
  }

  .main-one {
    padding: 1px 0px 91% 9%;
    background-position: 49% 84%;
    background-size: 81%;
  }

  .main-one__title {
  font: 800 25px/31px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main-one__subtitle {
  font: 800 20px/25px gilroyextrabold, arial, helvetica, sans-serif;
  width: 81%;
  letter-spacing: 0;
  margin-bottom:0;
  }

  .main-one__description{
  width: 84%;
  }

  .main-one__button-more{

  }

  .defis {
     white-space: pre;
  }
}

@media(max-width: 280px) {

  .header {

  }

  .main-one {
    font: 800 17px/23px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main-one__title {
  font: 800 17px/23px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main-one__subtitle {
  font: 800 16px/22px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main-one__description{
    font: 300 12px/15px gilroylight, arial, helvetica, sans-serif;
  }

  .main-one__button-more{

  }

  .defis {
     white-space: pre;
  }
}

@media(max-width: 200px) {
  .header {

  }

  .main-one {

  }

  .main-one__title {
  font: 800 11px/16px gilroyextrabold, arial, helvetica, sans-serif;
  margin-bottom: 14%;
  }

  .main-one__subtitle {
  font: 800 9px/14px gilroyextrabold, arial, helvetica, sans-serif;
  }

  .main-one__description{
    font: 300 7px/12px gilroylight, arial, helvetica, sans-serif;
  }

  .main-one__button-more{

  }

  .defis {
     white-space: pre;
  }
}
